#colorimg {
    list-style-image: url("chrome://tabby/content/assets/colorIcons/twit.png");
    max-width: 64px;
    max-height: 64px;
    min-width: 64px;
    min-height: 64px;
}
#whiteimg {
    list-style-image: url("chrome://tabby/content/assets/whiteIcons/gith.png");
    max-width: 64px;
    max-height: 64px;
    min-width: 64px;
    min-height: 64px;
}
#blackimg {
    list-style-image: url("chrome://tabby/content/assets/blackIcons/drive.png");
    max-width: 64px;
    max-height: 64px;
    min-width: 64px;
    min-height: 64px;
}

